.env
/frontend/node_modules
/frontend/build
models/all-MiniLM-L6-v2/
/fhir-data-pipes
/__pycache__
/models/bge-m3
/superset
/chroma_db_index
/chroma_db_index_bge_m3_full


/chroma_db_spice_bd
*.pyc
/data/indexes/chroma_db_advanced
/logs
/logs
/logs
