.env
/backend/indexes/chroma_db_advanced
0.5.0”
logs/backend.log
node_modules/
logs/backend.log
*.log
.coverage
__pycache__/
/backend/models/sentence-transformers
/models/bge-m3
/backend/models/bge-*
/backend/models/sentence-transformers
*.db
/data/indexes
/frontend/dev-dist
/data/duckdb_files
/data/chroma_db
backend/embedding_test_output.txt
/models
/backend/venv
copilot_env

# Local output and settings
.vscode/
eval/reports/
/Data Literacy 2.0
