# LangChain and OpenAI
langchain
langchain-openai
langchain-community

# Vector Store
chromadb
sentence-transformers

# Backend and UI
flask
flask_cors
python-dotenv
psycopg2-binary
gradio
pandas
plotly

# Kotaemon specific dependencies
nest_asyncio
py-singleton
tabulate