# LangChain and OpenAI
langchain==0.3.27
langchain-openai
langchain-community
langfuse
huggingface-hub

# Vector Store
chromadb
sentence-transformers

# Backend and UI
flask
flask_cors
python-dotenv
psycopg2-binary
gradio
pandas
plotly
numpy

# Kotaemon specific dependencies
nest_asyncio
py-singleton
tabulate